{% extends "base.html" %}

{% block content %}

<style type="text/css">
  @media print {
    .form-section {
      display: inline !important
    }

    .form-pagebreak {
      display: none !important
    }

    .form-section-closed {
      height: auto !important
    }

    .page-section {
      position: initial !important
    }
  }
</style>

<h1>Todays Workout</h1>
<ul>
    <li>
        <h3>Crunches</h3>
        <div>30 reps x 2 sets </div>
        <div>5 Calories </div>
        <iframe width="200" height="112.5" src="https://www.youtube.com/embed/GWIEON0VSaY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
    <li>
        <h3>Jumping Jacks</h3>
        <div>30 seconds x 2 sets</div>
        <div>5 Calories </div>
        <div><iframe width="200" height="112.5" src="https://www.youtube.com/embed/1b98WrRrmUs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </li>
    <li>
        <h3>Toe Touches</h3>
        <div>15 reps x 2 sets </div>
        <div>5 Calories </div>
        <iframe width="200" height="112.5" src="https://www.youtube.com/embed/E488YNbgVt8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
    <li>
        <h3>Curls</h3>
        <div>10 reps x 2 sets </div>
        <div>6 Calories </div>
        <iframe width="200" height="112.5" src="https://www.youtube.com/embed/ykJmrZ5v0Oo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
    <li>
        <h3>Lunges</h3>
        <div>30 reps x 2 sets </div>
        <div>4 Calories </div>
        <iframe width="200" height="112.5" src="https://www.youtube.com/embed/QOVaHwm-Q6U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
    <li>
        <h3>Scissor Kicks</h3>
        <div>30 reps x 2 sets </div>
        <div>5 Calories </div>
        <iframe width="200" height="112.5" src="https://www.youtube.com/embed/ap4DqnKmrqc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
<ul>

{% endblock %}